<footer>
<div class="card bg-dark footer">
    <div class="card-header text-white">
      Información
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
                <h5 class="card-title text-white">Creada por: @Developers Team Band</h5>
                <p class="card-text text-white">Developers Team Band somos un grupo de desarolladores full stack cada uno con una especialidad <br> en la parte del desarollo web, movile y de escritorio</p>
                <a href="#" class="btn btn-primary">Pagina Principal</a>
              </div>
        </div>
        <div class="col-sm-6">
            <h5 class="card-title text-white">Integrantes:</h5>
            <ol class="text-white">
                <li class="text-primary">Mateo Garcia Alvarez: <span> Especialista en maching learning</span></li>
                <li  class="text-primary">Emilio Jose Peña: <span>Especialista en servidores</span></li>
                <li  class="text-primary">Juan Manuel Patiño: <span>Desarollador Full Stack</span></li>
                <li  class="text-primary">Julian Soto: <span>Desarollador Backend</span></li>
                <li  class="text-primary">Julian Correa:<span>Desarollador Frontend</span></li>
                <li  class="text-primary">Oliver Charry Benavides: <span>Desarollador Full Stack</span></li>
            </ol> 
        </div>
    </div>

  </div>
</footer>