/* You can add global styles to this file, and also import other style files */
.navbar{
    width: 100% !important;
}
.navbars{
    border-radius: 10px;
    height: 140px !important;
}

.footer{
    border-radius: 0px !important;
}